.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

* {
    box-sizing: border-box;
}

/* shared style */
.max-w {
    max-width: 1600px;
}

.bg-clr {
    background-color: #1a0b2e;
}

.clr-common {
    color: #FFFFFF;
}

.clr-bg-linear {
    background: linear-gradient(45deg, #f1fc00 0%, #fc00ff 50%, #7d00ff 100%);
}

.clr-text-linear {
    background: linear-gradient(45deg, #f1fc00 0%, #fc00ff 50%, #7d00ff 100%);
    background-clip: text;
    color: transparent;
    display: inline-block
}


.flex {
    display: flex;
}

.grid {
    display: grid;
}

.center {
    justify-content: center;
    align-items: center;
}

.btn {
    background: linear-gradient(45deg, #f1fc00 0%, #fc00ff 50%, #7d00ff 100%);
    color: #FFFFFF;
    border-radius: 10000px;
    border: none;
    transition: 0.3s ease;
    cursor: pointer;

}


/* main style */
/* header code */
nav {
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    width: 100%;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    stroke: #412567;
    stroke-width: 1px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.356);



}

nav h2 {
    font-size: 2.25rem;
    font-weight: bolder;
    stroke: black;
    stroke-width: 1px;
    width: 219px;
    margin-top: 30px;
    margin-bottom: 30px;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
    width: 218px;

}

nav .menu a {
    font-size: 1rem;
    font-weight: 200;
    color: #ffffffc7;
    text-decoration: none;
    text-align: center;
    line-height: 120%;
    margin: 36.5px 0;
    cursor: pointer;


}

nav button {
    width: 135px;
    height: 44px;
    margin-top: 24px 0;



}


nav button:hover {

    transform: scale(1.05);
}

nav button:active {
    transform: scale(0.95);
}


/* hero section */

#banner {
    background-image: url(../assets/hero-bg.png);
    background: cover;
    background-position: center;
    width: 100%;
    height: 760px;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.banner-container {
    width: 550px;
    height: 558px;
    /* border: 1px solid blueviolet; */
    display: flex;
    flex-direction: column;
    align-items: center;

}

.circle {
    background-image: url(../assets/hero-circle.png);
    background-position: top center;
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
    /* border: 1px solid violet; */
    display: flex;
    justify-content: center;
    align-items: top;
    margin: 0;
    position: relative;
}

.mic {

    justify-content: center;
    margin-top: 69px;
    margin-left: 75px;
    margin-right: 75px;
}

.btn2 {
    width: 75px;
    height: 38px;
    font-weight: 600;
    border-radius: 1000px;
    font-size: 1rem;
    color: #1a0b2ef3;
    border: none;
    background-color: #00FF88;
    box-shadow: 0px 3px 24px 0px #00ff888f;
    /* animation bouncing */
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 10;
    animation: badgebounce 2s infinite ease-in-out;
    padding: 4px 12px;
    border: 1px solid whitesmoke;


}

@keyframes badgebounce {

    0%,
    100% {
        transform: translateY(0)scale(1);

    }

    50% {
        transform: translateY(-8px) scale(1.05);
    }

}

.banner-container .hero-dtails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rosybrown; */
    width: 550px;
    height: 168px;
    margin-bottom: 0;

}

.banner-container .hero-dtails h2 {
    font-size: 2.75rem;
    font-weight: bolder;
    margin-bottom: 0px;
    margin-top: 5px;
}

.hero-dtails p {
    margin-bottom: 24px;
    font-size: 1rem;
    font-weight: 100;

}

.buttons-hero {
    /* border: 1px solid blue; */
    width: 550px;
    display: flex;
    justify-content: center;
    gap: 8px
}

.hero-dtails .spotify {
    padding: 20px 12px;
    width: 201px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10000px;
    text-align: center;
    transition: 0.3s ease;
}

.spotify:hover {
    transform: scale(1.05);
}

.spotify:active {
    transform: scale(0.95);
}


.hero-dtails .message {
    padding: 12px 20px;
    width: 147px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10000px;
    text-align: center;
    background: transparent;
    color: #00FF88;
    border: 1px solid #00FF88;
    transition: 0.3s ease;
}

.message:hover {
    transform: scale(1.05);
}

.message:active {
    transform: scale(0.95);
}

/* headline-cards */
.headline-cards {
    width: 100%;
    height: auto;
    padding: 50px 200px 120px 200px;
}

.head-lines {
    width: 100%;
    height: auto;
    gap: 16px;
    /* align-items: center; */
    text-align: center;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.315);
    /* border: 2px solid #00FF88; */
}

.head-lines h2 {
    font-size: 3rem;
    font-weight: bold;
}

.head-lines p {
    font-size: 1rem;
    font-weight: 300;

}

.mgb {
    margin-bottom: 80px;
}

.cards {
    color: #FFFFFF;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 80px;
    gap: 80px;
    align-items: center;
}

.cards h2 {
    color: #00FF88;
    font-size: 3rem;
    font-weight: bold;
    margin: 0px;
    text-align: center;
}

.cards p {
    line-height: 20px;
    text-align: center;
}

/* why choose Techwave */

.why {
    width: 100%;
    background-color: #230E3D;
    padding: 120px 200px 120px 200px;
    gap: 40px;

}

.why h3 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;

}

.why .cards {
    width: 100%;
    margin: 0px;
}


.why .cards .card {
    background-color: #351165;
    padding: 40px 40px 40px 40px;
    border-radius: 40px;
}

.why .cards .card p {
    text-align: left;
    font-size: 1rem;
}


/* video section */
.video {
    padding: 120px 200px 120px 200px;
    background-color: #1A0B2E;
    gap: 120px;
    width: 100%;
    height: auto;
}

.video .features h5 {
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;

}

.features .ca-rds {

    width: 100%;
    height: 100%;
    /* border: 1px solid green; */
    display: flex;
    gap: 10px;
}

.ca-rds .ca-rd {
    max-width: 380px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #250D44;
    margin: 0 auto;
    gap: 12px;
    padding: 24px;
}

.ca-rd h6 {
    font-size: 1.10rem;
}

.ca-rd img {
    width: 16px;
    height: 16px;

}

.host {
    width: 100%;
    height: auto;


}

.host h3 {
    font-size: 3rem;
    text-align: center;
    color: #FFFFFF;
}

.host-details {
    background-color: #351165;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 40px;
    color: #FFFFFF;

}

.host-details .social h5 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: left;
    margin: 0px;
}

.icons {
    display: flex;
    gap: 12px;
    margin-top: 15px;
}

.icons .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #533c72;
    background: transparent;
    transition: all 0.3s ease
}

.icons .icon image {
    width: 16px;
    height: 16px;
    display: block;
}

.icons .icon:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.6);
}

/* footer */
footer {
    background-image: url(../assets/footer-bg.png);
    background: cover;
    background-position: center;
    width: 100%;
    height: 412px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFFFFF;
}

footer .logos {
    max-width: 1360px;
    max-height: 172px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    /* border: 1px solid #00FF88; */
}

footer h5 {
    font-size: 3rem;
    font-weight: bold;
    margin: 0px;
}

footer .contacts {
    display: flex;
    margin: 0px;
    gap: 40px;
}

footer .contacts img {
    margin-right: 8px;
}











/* media query */
/* small screen */
@media screen and (max-width:576px) {

    nav .menu,
    nav button {
        display: none;
    }

    /* navbar code  */
    nav {
        padding: 16px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 16px 20px;
    }

    nav h2 {
        width: 137px;
        font-size: 1.5rem;

    }

    .hbg {
        display: block;
        transition: 0.2s ease;
    }

    .hbg:hover {
        transform: scale(1.05);
    }

    .hbg:active {
        transform: scale(0.95);
    }

    /* banner */

    #banner {
        background-image: url(../assets/hero-bg.png);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 466px;
        padding: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    .banner-container {
        width: 400px;
        height: 386px;
        /* border: 1px solid blueviolet; */
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 10px;

    }

    .circle {
        background-image: url(../assets/hero-circle.png);
        background-position: top center;
        background-repeat: no-repeat;
        width: 200px;
        height: 200px;
        /* border: 1px solid violet; */
        display: flex;
        justify-content: center;
        align-items: top;
        margin-bottom: 24px;
        position: relative;
        background-size: cover;
    }

    .mic {
        width: 80px;
        height: 80px;

    }

    .mic img {

        justify-content: center;
        width: 3rem;
        height: auto;
        margin: 0 auto;

    }

    .banner-container .hero-dtails {
        max-width: 400px;
        width: 100%;
        height: 92px;
        margin-top: 10px;
    }

    .banner-container .hero-dtails h2 {
        font-size: 1.5rem;
        font-weight: bolder;
        margin-bottom: 0px;
        margin-top: 15px
    }

    .hero-dtails p {
        text-wrap: wrap;
        text-align: center;
    }

    .buttons-hero {
        /* border: 1px solid blue; */
        width: 400px;
        display: flex;
        justify-content: center;
        gap: 8px
    }

    /* cards and headlines */
    .headline-cards {
        max-width: 440px;
        padding: 40px 20px 40px 20px;
        width: 100%;
        height: auto;
    }

    .headline-cards .cards {
        width: 100%;
        height: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);

    }

    .why {
        width: 100%;
        background-color: #230E3D;
        padding: 40px 20px 40px 20px;
        gap: 16px;

    }

    .why .cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .video {
        padding: 40px 20px 40px 20px;
        background-color: #1A0B2E;
        gap: 60px;
        width: 100%;
        height: auto;
    }

    .features .ca-rds {

        width: 100%;
        height: 100%;
        /* border: 1px solid green; */
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .ca-rds iframe {
        max-width: 400px;
        max-height: 225px;
        width: 100%;
    }

    .host {
        width: 100%;
        height: auto;

    }

    .host-details {
        flex-direction: column;
    }

    /* footer */
    footer {
        background-image: url(../assets/footer-bg.png);
        background-size: cover;
        background-position: center;
        width: 100%;
        padding: 30px 20px;

    }

    .contacts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}


/* large screen */
@media screen and (min-width:992px) and (max-width:1600px) {
    .hbg {
        display: none;
    }

    .why .cards {
        gap: 16px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .card-big {
        grid-row: span 2;

    }

    .card-wide {

        grid-column: span 2;
    }
}